.animated-text-container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  /* Corrected background-color and added overflow to prevent scrollbars */
  background-color: #F5F5F5; 
   
  z-index: 2;
}

/* Base styles for both animated text elements */
.animated-text1, .animated-text2 {
  font-family: Arial, sans-serif;
  color: #16181a;
  text-align: center;
  /* Added font-size here, as it was missing */
  font-size: 2rem;
  /* Prevents text from wrapping */
  white-space: nowrap; 
}

@keyframes textAnimation1 {
  0%, 40%, 80%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-25%); /* Reduced movement for subtlety */
    opacity: 0.5;
  }
  60% {
    transform: translateX(15%); /* Reduced movement for subtlety */
    opacity: 0.5;
  }
}

@keyframes textAnimation2 {
  0%, 30%, 60%, 90%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  15%, 75% {
    transform: translateX(25%); /* Reduced movement for subtlety */
    opacity: 0.5;
  }
  45% {
    transform: translateX(-15%); /* Reduced movement for subtlety */
    opacity: 0.5;
  }
}

.animated-text1 {
  animation: textAnimation1 8s ease-in-out infinite; /* Slower animation */
}

.animated-text2 {
  animation: textAnimation2 8s ease-in-out infinite; /* Slower animation */
}