.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 10px;
}

.project-card a {
  color: #007bff;
  text-decoration: none;
}