.paintable {
    position: relative;
    overflow: hidden;
}

.paintable canvas{
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:0;
}

.paintable>*{
    position:relative;
    z-index:2;
}

body{
    cursor:none;
}